

<div class="project-margin">
  <form #searchForm="ngForm" (ngSubmit)="searchImages(searchQuery)" class="search-container">
    <mat-form-field appearance="fill" class="search-input">
      <mat-label>Enter search query</mat-label>
      <input matInput [(ngModel)]="searchQuery" name="searchQuery" placeholder="Enter search query" required>
      <mat-error *ngIf="searchForm.controls['searchQuery'].errors?.['required']">Query cannot be empty</mat-error>
    </mat-form-field>
    <div class="button-container">
      <button mat-raised-button type="button" class="clear-button" (click)="resetInput()">Clear</button>
      <button mat-raised-button type="submit" [disabled]="searchForm.invalid" class="search-button">Search</button>
    </div>
  </form>

  <mat-chip-set aria-label="searchedTags">
    <mat-chip *ngFor="let tag of savedTags">{{ tag }}</mat-chip>
  </mat-chip-set>

  <div class="image-grid">
    <div class="image-card" *ngFor="let image of images">
      <div class="image-container">
        <img [src]="image.url" alt="{{ image.title }}">
        <div class="tag">{{ image.tag }}</div>
        <div class="views">{{ image.views||0 }} views</div>
      </div>
      <div class="details">
        <div class="owner">{{ image.owner }}</div>
        <div class="dates">
          <div class="upload-date">{{ image.uploadDate }}</div>
          <div class="taken-date">{{ image.takenDate }}</div>
        </div>
      </div>
      <div class="show-all">Show all images</div>
    </div>
  </div>
</div>


<router-outlet />
